
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .banner_cagetoy{
        width: 100%;
    }
    .banner_cagetoy img{
        width: 100%;
        height:auto;
    }
    .titleAndFilter h3{
        font-weight: 600;
        font-size: 20px;
    }
    .itemProduct {
        box-sizing: border-box;
        padding: 20px;
    }

        .itemProduct img {
            width: 100%;
            height: auto;
        }

        .itemProduct h3 {
            color: black;
            font-size: 15px;
        }

            .itemProduct h3:hover {
                color: orange;
            }

    a {
        text-decoration: none !important;
    }
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
</style>
    <div class="banner_cagetoy">

        <img src="~/Assest/z2234435087627_9b9e18fa309894cc391a33556397694b_7ffc0cf0b1a14f81a3ebba395de972b4.jpg" />
       
    </div>
<div class="container_Product" >
    <div class="row titleAndFilter">
        <div class="col-md-3">
            <h3>Áo Gió- Nỉ</h3>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div style="text-align: end;" class=" col-md-3">
            <form style="padding: 10px;" >
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option value="1">Sản phẩm nổi bật</option>
                    <option value="2">Giá: tăng dần</option>
                    <option value="3">Giá: giảm dần</option>
                    <option value="4">Tên: A-Z</option>
                    <option value="5">Tên: Z-A</option>
                    <option value="4">Cũ nhất</option>
                    <option value="5">Mới nhất</option>
                    <option value="5">Bán chạy nhất</option>
                </select>
            </form>
        </div>
    </div>
    <div class="row newproduct">
        <div class="col-md-3 itemProduct">
            <a style="text-decoration:none;" href="#">
                <img src="~/Assest/aokhoac.jpg" />
                <h3>
                    Áo Sweatshirt S.E  Triumphal 1334
                </h3>
            </a>

            <p>550,000 đ</p>
        </div>
        <div class="col-md-3 itemProduct">
            <a style="text-decoration:none;" href="#">
                <img src="~/Assest/aokhoac.jpg" />
                <h3>
                    Áo Sweatshirt S.E  Triumphal 1334
                </h3>
            </a>

            <p>550,000 đ</p>
        </div>
        <div class="col-md-3 itemProduct">
            <a style="text-decoration:none;" href="#">
                <img src="~/Assest/aokhoac.jpg" />
                <h3>
                    Áo Sweatshirt S.E  Triumphal 1334
                </h3>
            </a>

            <p>550,000 đ</p>
        </div>
        <div class="col-md-3 itemProduct">
            <a style="text-decoration:none;" href="#">
                <img src="~/Assest/aokhoac.jpg" />
                <h3>
                    Áo Sweatshirt S.E  Triumphal 1334
                </h3>
            </a>

            <p>550,000 đ</p>
        </div>
        <div class="col-md-3 itemProduct">
            <a style="text-decoration:none;" href="#">
                <img src="~/Assest/aokhoac.jpg" />
                <h3>
                    Áo Sweatshirt S.E  Triumphal 1334
                </h3>
            </a>

            <p>550,000 đ</p>
        </div>
        <div class="col-md-3 itemProduct">
            <a style="text-decoration:none;" href="#">
                <img src="~/Assest/aokhoac.jpg" />
                <h3>
                    Áo Sweatshirt S.E  Triumphal 1334
                </h3>
            </a>

            <p>550,000 đ</p>
        </div>
        <div class="col-md-3 itemProduct">
            <a style="text-decoration:none;" href="#">
                <img src="~/Assest/aokhoac.jpg" />
                <h3>
                    Áo Sweatshirt S.E  Triumphal 1334
                </h3>
            </a>

            <p>550,000 đ</p>
        </div>
        <div class="col-md-3 itemProduct">
            <a style="text-decoration:none;" href="#">
                <img src="~/Assest/aokhoac.jpg" />
                <h3>
                    Áo Sweatshirt S.E  Triumphal 1334
                </h3>
            </a>

            <p>550,000 đ</p>
        </div>
    </div>
    <div class="text-center">
        <div class="text-center pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>

