
@{
    ViewBag.Title = "QuanLyTaiKhoan";
    Layout = "~/Views/Shared/_Layout_ad.cshtml";
}

<style>
    td {
        padding: 5px;
    }

    .itemProduct {
        box-sizing: border-box;
        padding: 20px;
    }

        .itemProduct img {
            width: 100%;
            height: auto;
        }

        .itemProduct h3 {
            color: black;
            font-size: 15px;
        }

            .itemProduct h3:hover {
                color: orange;
            }

    a {
        text-decoration: none !important;
    }
</style>

<div>
    <a href="/Cagetory/CreateOrEditCagetory?id=-1" class="btn btn-primary">Thêm mới tài khoản</a>
</div>
<h5 style="color: aqua">Danh sách tài khoản</h5>
<div class="containerProduct">
    <div class="row">
        @foreach (var item in ViewBag.listACC)
        {
            <div class="col-md-2 itemProduct">
                <a style="text-decoration:none;">
                    <img class="img-responsive" width="150px;" src="" />
                    <h3 style="font-weight:700;">
                        @item.TenDangNhap
                    </h3>
                </a>
                <p> @item.MatKhau </p>

                <div>
                    <a href="" class="btn btn-success">Sửa</a>
                    <a href="" class="btn btn-danger">Xóa</a>
                </div>
            </div>
        }
    </div>
</div>

