
@{
    ViewBag.Title = "QuanLyLoaiSanPham";
    Layout = "~/Views/Shared/_Layout_ad.cshtml";
}
<style>
    td {
        padding: 5px;
    }
</style>

<div>
    <a href="/Cagetory/CreateOrEditCagetory?id=-1" class="btn btn-primary">Thêm mới loại sản phẩm</a>
</div>
<h5 style="color: aqua">Danh sách loại sản phẩm</h5>
<div class="row">
    <div class="col-md-12">
        <table border="1">
            <tr>
                <th>Tên loại </th>
                <th>Mô tả </th>
                <th>Ảnh </th>
                <th>Thao tác </th>
            </tr>
            @foreach (var item in ViewBag.listLoaiSP)
            {
                <tr>
                    <td>@item.TenLoai </td>
                    <td>@item.MoTa </td>
                    <td><img class="img-responsive" width="150px;" src="@item.LinkAnh" /></td>
                    <td><a href="/Cagetory/CreateOrEditCagetory?id=@item.MaLoai" id="suaclick">Sửa</a><a href="/Cagetory/deleteCagetory?id=@item.MaLoai" id="xoaclick"> Xóa</a></td>
                </tr>
            }
        </table>
    </div>

</div>


